body {
	background-color: #eee;
}
div {
	width: 1000px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: arial;
}

h1, h2 {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	font-family: "Lucida Console", Monaco, monospace;
}
h3 {
	font-size: 22pt;
	margin: 0;
}
.mainBody {
	/*height: 300px;*/
	margin-bottom: 40px;
}
.header {
	height: 60px;
	margin-bottom: 10px;
}
.footer {
	height: 50px;
}
ul {
	margin: 0;
	list-style: none;
	list-style-position: inside;
	padding-left: 0;
	border-radius: 4px;
}
li {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	/*border: 1px solid;*/
	border-radius: 10px;
	background-color: #999;
}
a {
	text-decoration: none;
	color: black;
}

.left, .right {
	width: 495px;
	display: inline-block;
}
.left li {

}

img {
	display: block;
	margin: auto;
	border-radius: 10px;
}